body{
    background-color:#073507;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

#title {
    color: #ffffff;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    position: relative;
    top: 50px;
  }

#container{
    margin: 0; 
    padding: 0;
    width: 100%; 
    margin: 0 auto;
    position: fixed;
    top:0;
    overflow-x: hidden;
    z-index: +3;
  }
  
  .container{ 
    display: flex; 
    align-items: center; 
    margin-top: 0%;
    font-size: 170%;
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #ffd412;
    color:#073507;
    overflow-x: hidden;
    z-index: +3;
  }


  h2 {
    color: #ffffff;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 170%;
  }
 
  p {
    color: #ffffff;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

#labTitle{
    background-color: #5a925a;
    width:360px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    position: absolute;
    top: 20%;
    left: 250px;
}

#labTitle:hover{
    background-color: #ffd412;
    color: #073507;
    transform: scale(1.05);
}

#labs{
    text-decoration: none;
    position: absolute;
    top: 230px;
    left: 270px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    padding: 5px;
    background-color: #5a925a;
}

#labs a {
    color: #ffffff;
    text-decoration: none;
}

#labs a:hover {
    color: #ffd412;
}

#labs a.active {
    color: #ffd412;
}


#aTitle{
    background-color: #5a925a;
    width:360px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    position: absolute;
    top: 20%;
    left: 750px;
}

#aTitle:hover{
    background-color: #ffd412;
    color: #073507;
    transform: scale(1.05);
    
}

#assignments a {
    color: #ffffff;
    text-decoration: none;
}

#assignments a:hover {
    color: #ffd412;
    transform: scale(1.5);
}

#assignments a.active {
    color: #ffd412;
}

#assignments{
    text-decoration: none;
    position: absolute;
    top: 230px;
    left: 775px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    padding: 5px;
    background-color: #5a925a;
}

#cats2{
    position: relative;
    top:130px;
}

 /* tutorial from https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */



  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
    background-color:#5a925a;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 15px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:#ffd412;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  span{
    font-size:30px;
    cursor:pointer;
    position: absolute;
    left: 20px;
    top: 35px;
    color: #ffffff;
  }
  
  span:hover{
    color: #ffd412;
  }